# =====================
# ENV FILES
# =====================
.env

# =====================
# PYTHON
# =====================
backend/.venv/
__pycache__/
*.pyc

# =====================
# OPTIONAL GLOBAL
# =====================
.DS_Store